.form {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form > h1 {
  text-transform: uppercase;
  font-size: 30px;
  color: black;
  margin-bottom: 38px;
  text-align: center;
}
.form > h1::after {
  content: "";
  height: 5px;
  width: 102px;
  background-color: black;
  border-radius: 25px;
  display: block;
  margin: auto;
}

.form > input,
textarea {
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137);
  margin-bottom: 20px;
  border: 1px solid lightgray;
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
}

.form > input:focus,
textarea:focus {
  border: 1px solid #2a80b9;
}

.form > textarea {
  height: 120px;
  max-width: 400px;
  min-height: 100px;
}

.form > label {
  padding-bottom: 10px;
  color: rgb(0, 0, 32);
  font-weight: bold;
}

.form > button {
  padding: 10px;
  border: none;
  background: #2a80b9;
  font-weight: 500;
  font-size: 17px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

.form > button:hover {
  color: white;
  opacity: 0.8;
  transform: scale(1.02);
}
