.nav--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: rgb(77, 102, 117);
  color: white;
  padding-left: 4%;
}
.navigation {
  display: flex;
  justify-content: space-between;
}

.home {
  cursor: pointer;
}

.home:hover {
  color: rgb(14, 163, 163);
}

ul {
  padding: 5px;
  margin-right: 20px;
  cursor: pointer;
}

ul:hover {
  color: rgb(14, 163, 163);
}
